-meta :description,"本站证券公司数据来自中国证券协会官方网站,仅根据注册营业部数量排序,不代表相关公司实际排名或排行。"
-meta :keywords,"证券公司,证券公司排名"
.span9  
  %h1 证券公司
  = render :partial => 'logo',:locals=>{:companies=>@companies}
  -#= render :partial => 'table',:locals=>{:companies=>@companies}
= render :partial => 'primary'
